@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

hr {
    margin-top: 30px;
    border: solid 1px;
    color: rgb(233, 223, 223);
    width: 45%;
    text-shadow: 3px 3px 2px rgb(0,0,0);
}

.section-container {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(../img/history_banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}
.section-container > .header {
    position: sticky;
    top: -90px;
    padding-bottom: 10px;
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(../img/history_banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    /* box-shadow: 0 30px 20px rgb(0,0,0, 0.6); */
}
.section-container > .header > p {
    margin: 0 auto;
    padding: 0px 23vw;
    padding-top: 120px;
    color: rgb(255,255,255);
    font-size: 32px;
    text-shadow: 3px 3px 2px rgb(0,0,0);
    text-align: center;
    letter-spacing:2px
}

#section {
    margin: 0 auto;
    margin-top: 60px;
    width: 35%;
    padding-bottom: 80px;
    color: rgb(255,255,255);
}
#section a {
    color: rgb(255,255,255);
    /* font-weight: bold; */
    font-size: 30px;
    text-decoration: none;
    text-shadow: 3px 3px 2px rgb(0,0,0);
}
#section i {
    text-shadow: 3px 3px 2px rgb(0,0,0);
}
#section p {
    display: flex;
    position: relative;
    margin:10px 0;
    left: 5vw;
    color: rgb(246,246,246);
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 30%;
    }

    to {
        margin-left: 0%;
    }   
}
#section p > .month {
    display: block;
    margin-right: 40px;
}
#section p > .content {
    display: block;
    word-break: keep-all;
}
#section .year {
    position: relative;
    /* margin: 2px 0; */
    margin-bottom: 20px;
}
#section .year > .check {
    position: absolute;
    left: -25px;
}


/* tablet */
@media screen and (max-width:1200px) and (min-width: 600px)  {
    .section-container > .header > p {
        font-size: 30px;
    }  
    hr {
        width: 80%;
    }

    #section {
        width: 65%;
        margin-top: 60px;

    }
    #section a {
        font-size: 35px;
    }
    #section p {
        font-size: 18px;
        white-space: pre-wrap;
    }
}

/* mobile */
@media screen and (max-width:600px) {
    .section-container > .header > p {
        font-size: 23px;
    }
    hr {
        width: 80%;
    }

    #section p > .month {
        display: inline-block;
        margin-right: 12px;
    }
    #section a {
        font-size: 20px;
    }
    #section{
        width: 65%;
        margin-top: 30px;
    }
    #section a {
        font-size: 20px;
    }
    #section p {
        font-size: 13px;
        white-space: pre-wrap;
    }
}


