@charset "UTF-8";
html { 
    scroll-behavior: smooth; 
  } 

body > .tab {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
body > .tab a {
    display: block;
    width: 100%;
    padding: 18px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#tab1 p {
    font-size: 17px;
    line-height:35px;
    text-shadow: 5px 5px 10px rgb(223, 156, 102);
}


#tab2 p {
    font-size: 17px;
    line-height:35px;
    text-shadow: 5px 5px 10px rgb(138, 166, 207); 
}
#tab3 p {
    font-size: 17px;
    line-height:35px;
    text-shadow: 5px 5px 10px rgb(167, 192, 124);
}

body > .tab a:nth-of-type(1) { background-color: rgb(218, 120, 41); }
body > .tab a:nth-of-type(2) { background-color: rgb(55, 89, 140); }
body > .tab a:nth-of-type(3) { background-color: rgb(131, 168, 68); }



/* section */
.container{
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
}
.section {
    margin-top: 80px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.section h2 {
    padding: 0;
    margin-bottom: 30px;
    color:  rgb(254, 253, 255);
    text-shadow: 2px 2px 6px rgb(61, 61, 61);
    font-size: 30px;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 30%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }   
}

.section p {
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    color: rgb(104, 99, 99);
    font-size: 15px;
} 

.text-box {
    display: flex;
    max-width: 60%;
   
}

.text-box2 {
    display: flex;
    max-width: 60%;
}


.section .box-container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    min-width: 720px;
    margin: 0 auto;
  
}
.section .box {
    width: 350px;
    height: 380px;
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   
}



.section .box .title {
    position: relative;
    text-align: center;
    background-color: rgb(218, 120, 41);
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0px;
    
}


.section .box .title2 {
    position: relative;
    text-align: center;
    background-color: rgb(55, 89, 140);
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0px;
}

.section .box .title3 {
    position: relative;
    text-align: center;
    background-color: rgb(131, 168, 68);
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0px;
}

.section .box ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: rgb(220,220,220); 
    list-style: none;
}
.section .box ul li {
    font-size: 13px;;
    color: rgb(71, 68, 68);
    margin: 8px 0;
    padding: 0;
}
a { 
    text-decoration:none;
    color: rgb(75, 118, 182); 
    font-weight: 400;
}

.cate-box {
    height: 50vh;
}

.box-container p {
    margin-top: 45px;   
 }


.card-container {
  cursor: pointer;
  perspective: 600;
  position: relative;
  width: 60%;
  
}
/* card1 */
.card1 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card1:hover {
  transform: rotateY(180deg);
}
.card1 .side {
  backface-visibility: hidden;
  border-radius: 9px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card1 img {
  max-width: 660px;
   opacity: 0.9; 
}
.card1 .back {
  transform: rotateY(180deg);
  word-break : keep-all;
  word-wrap : break-word;
  
}

/* card2 */
.card2 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card2:hover {
  transform: rotateY(180deg);
}
.card2 .side {
  backface-visibility: hidden;
  border-radius: 9px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card2 img {
  max-width: 660px;
  opacity: 0.9; 
}
.card2 .back {
  transform: rotateY(180deg);
  word-break : keep-all;
  word-wrap : break-word;
}


/* card3 */
.card3 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card3:hover {
  transform: rotateY(180deg);
}
.card3 .side {
  backface-visibility: hidden;
  border-radius: 9px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card3 img {
  max-width: 660px;
   opacity: 0.9; 
}

.card3 .back {

  transform: rotateY(180deg);
  word-break : keep-all;
  word-wrap : break-word;
}

