@charset "UTF-8";

.wp-10 {width: 10%;}
.wp-20 {width: 20%;}
.wp-30 {width: 30%;}
.wp-40 {width: 40%;}
.wp-50 {width: 50%;}
.wp-60 {width: 60%;}
.wp-70 {width: 70%;}
.wp-80 {width: 80%;}
.wp-90 {width: 90%;}

/* section */
.section {
    width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    word-break: keep-all;
}
/* PC */
@media all and (max-width: 1280px) {
    .section {
        width: auto;
        min-height: 300px;
        padding: 40px;
    }
} 
/* mobile */
@media all and (max-width: 620px) {
    .section {
        padding: 10px;
    }
}

.section img {
    object-fit: cover;
}
/* templet */
@media all and (max-width:1200px) {
    .section .img-box {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
    }

}
/* mobile */
@media all and (max-width: 620px) {
    .section img {
        width: 100%;
    }
}

/* box-container */
.section .box-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    color: rgb(98, 98, 98);
}
.section .box-container h4 {
     font-size: 18px;
}
.section .box-container h4 > span {
     font-size: 15px;
}
.section .box-container h5 {
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.section .box-container dt {
    margin: 0;
    padding: 0;
}
.section .box-container dd {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    color:rgb(141, 141, 141);
}
.section .box-container table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
.section .box-container table :is(td,th) {
    padding: 5px 10px;
    border: 1px solid rgb(255, 255, 255);
}
.section .box-container table thead {
    background-color:rgb(98, 98, 98);
    color: rgb(250, 250, 250);
}
.section .box-container table tbody {
    background-color: rgb(235, 235, 235);
}
.section .box-container :is(strong, h4) {
    color: rgb(0, 0, 0);
}
.section .box-container .box {
    padding: 10px;
}
.section .box-container .title-box {
    margin: 10px 50px;
    padding: 10px 30px;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    font-weight: bold;
    text-align: center;
}
/* templet */
@media all and (max-width:1200px) {
    .section .box-container {
        display: block;
        justify-content: inherit;
    }
    .section .box-container .box {
        padding: 10px;
        width: auto;
    }
    .section .box-container .title-box {
        width: fit-content;
        margin: 10px auto;
        padding: 10px 60px;
        border: 1px solid rgb(198, 198, 198);
        border-radius: 10px;
        background-color: rgb(235, 235, 235);
        font-weight: bold;
        text-align: center;
    }
}

/* mobile */
@media all and (max-width: 620px) {
    .section .box-container {
        font-size: 12px;
    }
    .section .box-container h4 {
         font-size: 15px;
    }
    .section .box-container h4 > span {
         font-size: 13px;
    }
    .section .box-container h5 {
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    
}

/* col-lg */
.section .col-lg {
    width: 100%;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin: 5px 0;
}